html
{
    font-size: 10px;
}

body
{
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: .9rem;
}

.container
{
    display: block; 

    max-width: 1152px;
    margin: 0 auto;

    color: white;
}
