
$light-text: #FFF;
$dark-text: #333;

$brown: #aa9b77;
$light-gray-bg: #f5f6f7;
$middle-gray-bg: #535253;
$dark-gray-bg: #424242;

$check-border-inactive: #cccccc;

$xs: 480px;
$sm: 767px;
$md: 991px;


@mixin fontSH($size, $height) {
  font-size: $size;
  line-height: $height;
}

@mixin trans($duration: 0.3s, $type: ease) {
  transition: all $duration $type;
}